@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #772e25;
  --secondary-color: #c44536;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  background: var(--primary-color);
  overflow-x: hidden;
  padding-bottom: 50px;
}
